body {
    font-family: sans-serif;
    background: #fff;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    
}

.website-wrapper {
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: #dadce0; /* Background color for the header */
    color: #323741; /* Text color for the header */
    margin: 0;
    width: 100%;     
}     
header a {
    color: #fff;
    /* You can add more styles as needed */
}

.logo img {
    width: 200px; /* Adjust the width as needed */
    height: auto;
}

.contact-info-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tel-header i, .mail-header i {
    margin-right: 5px;
}

.tel-header, .mail-header {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 5px 0;
    white-space: nowrap; /* Prevent text from wrapping */
    margin-top: 20%;
}

.mail-header a {
    color: #000; /* Black color */
    text-decoration: underline; /* Underline the link text */
    font-size: 18px;
}



.dropdown{
    min-width: 9.5em;
    position: relative;
    margin: 1em 0.5em;
    box-sizing: border-box;
}
.select{
    background: #2a2f3b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: 0.3s;
    font-size: 13px;
}
.select-clicked{
    border: 2px #2a2f3b solid;
    box-shadow: 0 0 0.8em #26489a;
    font-size: 15px;
}
.select:hover{
    background: #323741;
}
.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}
.caret-rotate{
    transform: rotate(180deg);
}
.menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 120%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}
.menu li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}
.menu li:hover{
    background: #2a2d35;
}
.active{
    background: #23242a;
}
.menu-open{
    display: block;
    opacity: 1;
}


footer {
    background-color: #dadce0;
    color: #323741;
    padding: 20px;
    display: flex;
}

.contact-info-footer {
    display: flex;
    flex-direction: column; /* Display items in a column */
    align-items: flex-start; /* Align items to the left */
    margin-left: 7%; 
    margin-top: 50px;
}

.name-footer {
    margin-bottom: 10px; /* Add space between each info item */
}
.street-footer {
    margin-bottom: 10px; /* Add space between each info item */
}
.location-footer {
    margin-bottom: 10px; /* Add space between each info item */
}
.tel-footer {
    margin-bottom: 10px; /* Add space between each info item */
}
.mail-footer {
    margin-bottom: 10px; /* Add space between each info item */
}

.more-infos-footer {
    display: flex;
    align-items: center; 
    flex-direction: column;
    margin-left: 5%;
    margin-top: 50px;
}
.weitere-informationen{
    margin-bottom: 10px;
}
.startseite{
    margin-bottom: 10px;
}
.impressum{
    margin-bottom: 10px;
}
.slogan-footer{
    margin-top: 100px;
    margin-left: 10%;
    font-size: 35px;
} 
.logo-footer img{
    width: 350px;
    height: auto;
    margin-left: 20%;
}
.aufstellgebiet-titel{
    font-size: 35px;
    text-align: center;
}
.aufstellgebiet-image{
    margin-left: 20%;
    margin-top: 100px;
}
.aufstellgebiet-part1{
    background: #fff;
}
.aufstellgebiet-text{
    margin-left: 25%;
    font-size: 20px;
}

.mail-header a{
    text-decoration: none;
    color: #26489a;
}

@media (min-width:2000px) and (max-width:2775px) {
    .logo-big-image{
        margin-top: 50px;
        margin-top: -30%;
    }
    .menu a{
        font-size: 23px;
    }
    .dropdown .select{
        font-size: 23px;
    } 
    .menu{
        width: 180%;
    }
    .logo img{
        width: 350px;
        height: auto;
    }
    .tel-header{
        font-size: 26px;
    }
    .mail-header a{
        font-size: 26px;
    }
    .name-footer{
        font-size: 26px;
    }
    .tel-footer{
        font-size: 26px;
    }
    .mail-footer{
        font-size: 26px;
    }
    .more-infos-footer{
        font-size: 26px;
        margin-left: 10%;
    }
    .slogan-footer{
        font-size: 30px;
        margin-left: 10%;
        white-space: nowrap;
    }
    .logo-footer{
        margin-left: 10%;
    }
    .logo-footer img{
        width: 400px;
        height: auto;
    }
    .logo-big-image img{
        width: 700px;
        height: auto;
    }
    .aufstellgebiet-part1{
        margin-left: 15%;
    }
    .aufstellgebiet-titel{
        margin-left: -10%;
        font-size: 45px;
    }
    .aufstellgebiet-text{
        font-size: 30px;
        margin-left: 15%;
    }
}
@media (min-width:1440px) and (max-width:1526px) {
    .logo-big-image img{
        width: 600px;
        height: auto;
    }
    .slogan-footer{
        font-size: 23px;
    }
    footer{
        width: 110%;
    }
    header{
        width: 115%;
    }
    .aufstellgebiet-text{
        margin-left: 25%;
    }
    .aufstellgebiet-titel{
        margin-left: 20%;
    }
}
@media (min-width:1024px) and (max-width:1399px) {
    .logo-big-image{
        margin-left: 95%;
    }
    header{
        width: 170%;
    }
    footer{
        width: 165%;
    }
    .logo-footer{
        margin-left: 10%;
    }
    .more-infos-footer{
        margin-left: 10%;
    }
    .aufstellgebiet-part1{
        margin-left: 30%;
    }
    .aufstellgebiet-titel{
        margin-left: 40%;
    } 
    .aufstellgebiet-text{
        white-space: nowrap;
    }
    .aufstellgebiet-image{
        margin-left: 15%;
    }
    .aufstellgebiet-titel{
        margin-left: 10%;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .slogan-footer{
        margin-left: -10px;
        font-size: 25px;
    }
    .location-footer{
        margin-left: -10px;
    }
    .logo-footer{
        margin-left: -80px;
        
    }
    .logo-big-image{
        display: none;
    }
    .aufstellgebiet-image img{
        width: 500px;
        height: auto;
    }
    .aufstellgebiet-image{
        margin-left: 20%;
    }
    .aufstellgebiet-text{
        white-space: nowrap;
        font-size: 15px;
        margin-left: 10%;
    }
}
#hamburger-icon{
    margin: auto 0;
    display: none;
    cursor: pointer;
    margin-top: -10px;
}
#hamburger-icon div{
    width: 35px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}
.open .bar1{
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2{
    opacity: 0;
}
.open .bar3{
    -webkit-transform: rotate(45deg) translate(-6px, 8px);
    transform: rotate(45deg) translate(-6px, -8px);
}
.open .mobile-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.mobile-menu{
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    background-color: #9fa5b5;
    width: 35%;
    height: auto;
    border-radius: 17px;
    margin-left: 60%;
}
.mobile-menu li{
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    color: #000;
}
@media (max-width:1023px) {
    .dropdown{
        display: none;
    }
    #hamburger-icon{
        display: block;
    }
}
@media (min-width:425px) and (max-width:767px) {
    .logo-big-image{
        display: none;
    }
    .tel-header{
        font-size: 15px;
    }
    .mail-header a{
        font-size: 15px;
        margin-left: -20px;
    }
    .mail-header{
        margin-left: -15px;
    }
    #hamburger-icon{
        margin-left: -50px;
    }
    .mobile-menu{
        margin-left: -10px;
        margin-left: 55%;
        font-size: 14px;
    }
    .logo-footer{
        margin-left: -110%;
        margin-top: 150px;
    }
    .slogan-footer{
        margin-top: 250px;
        font-size: 20px;
        margin-left: -20px;
        margin-left: 10px;
    }
    .aufstellgebiet-image img{
        width: 300px;
        height: auto;
    }
    .aufstellgebiet-image{
        margin-left: 20%;
    }
    .aufstellgebiet-text{
        margin-left: 10%;
    }
}
@media (min-width:375px) and (max-width:424px) {
    .logo-big-image{
        display: none;
    }
    .logo img{
        width: 100px;
        height: auto;
    }
    .tel-header{
        font-size: 15px;
    }
    .mail-header a{
        font-size: 15px;
    }
    .mail-header{
        margin-left: -15px;
    }
    #hamburger-icon{
        margin-left: -50px;
    }
    .mobile-menu{
        margin-left: -10px;
        margin-left: 55%;
        font-size: 12px;
    }
    .logo-footer{
        margin-left: -125%;
        margin-top: 150px;
    }
    .slogan-footer{
        margin-top: 250px;
        font-size: 20px;
        margin-left: -20px;
        margin-left: 10px;
    }
    .aufstellgebiet-image img{
        width: 300px;
        height: auto;
    }
    .aufstellgebiet-image{
        margin-left: 10%;
    }
    .aufstellgebiet-text{
        margin-left: 10%;
    }
}
@media (min-width:320px) and (max-width:374px) {
    .logo-big-image{
        display: none;
    }
    .tel-header{
        font-size: 15px;
    }
    .mail-header a{
        font-size: 15px;
    }
    .mail-header{
        margin-left: -30px;
    }
    #hamburger-icon{
        margin-left: -50px;
    }
    .mobile-menu{
        margin-left: -10px;
        margin-left: 55%;
        font-size: 10px;
    }
    .logo-footer{
        margin-left: -160%;
        margin-top: 150px;
    }
    .slogan-footer{
        margin-top: 250px;
        font-size: 20px;
        margin-left: -20px;
        margin-left: 10px;
    }
    .logo img{
        width: 100px;
        height: auto;
    }
    .aufstellgebiet-image img{
        width: 300px;
        height: auto;
    }
    .aufstellgebiet-image{
        margin-left: 8%;
    }
    .aufstellgebiet-text{
        margin-left: 10%;
    }
} 